.titulo {
    text-align: center;
    color: red;
}

button {
    height: 50px;
    margin: 20px;
    background-color: red;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    width: 200px;
}

.mostrar {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: red;
}

body {
    background-color: red;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.main {
    background-color: white;
    width: 80%;
}

button:hover {
    background-color: white;
    color: red;
    border: solid;
    border-color: red;
    font-weight: bold;
}